<h1>Plots Index</h1>

<% @plots.each do |plot| %>
  <section id="plot-<%= plot.id %>">
    Plot Number: <%= plot.number %>
    <% plot.plants.each do |plant| %>
      <section id="plant-<%= plant.id %>">
        <%= plant.name %> <%= link_to "Remove Plant", plot_plant_path(plot, plant), method: :delete %>
      </section>
    <% end %>
  </section>
<% end %>
